:root {
  --background-color: linear-gradient(#1d1d1d, #242424);
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--background-color);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(100%);
  width: 100%;
}

#profile {
  display: flex;
  margin: 50px 50px 0;
  justify-content: center;
  background-color: #1b2a49, #365a81;
}

#profile-photo img {
  width: 15em;
  border-radius: 30%;
  margin-left: -250px;
}

#profile-info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 50px 5px;
}

#profile-info strong {
  color: #ffffff;
  font-size: 2em;
  margin: 0 0 0 10px;
  justify-content: baseline;
  align-items: baseline;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(38, 37, 36); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}
#profile-info span {
  color: #ffffff;
  font-size: 1.2em;
  margin: 0 0 0 10px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(38, 37, 36); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}

#profile-info span.finished {
  border-right: none;
}

#about-me {
  display: flex;
  margin: 15px 50px 0;
  color: var(--text-color);
  flex-direction: column;
}

#about-me-text {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: 1.25rem 18rem;
  font-size: 18pt;
  display: flex;
  justify-content: center;
}

#skills-text,
#projects-text {
  display: flex;
  margin: 35px;
  flex-direction: column;
  text-align: center;
  color: var(--text-color);
}

#skills {
  display: flex;
  text-align: center;
  background-size: cover;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgba(27, 27, 27, 0.639);
  padding: 10px;
  border-radius: 20px;
}

#skills img {
  width: 3em;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
}

#projects img {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  border-radius: 20%;
}

.slider {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  height: 800px;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  transition: 2s;
  position: relative;
}
.slide img{
  width: 25%;
  transition: 2s;
  position: relative;
}



.manual-navigation {
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 560px;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #365a81;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 560px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #ffffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #ffffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #ffffff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #ffffff;
}

#footer {
  text-align: center;
  color: #ffffff;
  margin: 390px auto 0;
  font-weight: bold;
  height: 100%;
}

/* Anim */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(23, 22, 21);
  }
}
